<!DOCTYPE html>
<html>
  <head>
    <title>Web Service Reviews</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>

  <body>

<% if flash[:error] %>
<div class="error_msg"><%= flash[:error] %></div>
<% else %>
<div class="success_msg"><%= flash[:success] %></div>
<% end %>

    <%= yield %>

    <footer class="footer">
      <span> Sherri Aminshahidy</span> <a href="https://github.com/Sherri010/Web-Hosting-Review">GitHub</a>- <a href="http://www.toptenreviews.com/services/web-hosting/best-web-hosting/"> Data Source</a>
    </footer>
  </body>
</html>
