<div class="center">
<h3 class="new_title"> Edit Hosting Service </h3>
<%= link_to "Home", root_path %>
</div>

<div class="edit_form container">
 <div class="row">
<%= form_for(@host,url: update_host_path(@host)) do |host| %>
  <div class="five columns">
  <label> Name: </label>
  <%= host.text_field :name , :class=>"u-full-width"%>
  </div>
    <div class="five columns">
  <label> Rating: </label>
  <%= host.number_field :rating ,step: :any, :class=>"u-full-width"%>
  </div>
    <div class="five columns">
  <label> Pros:</label>
  <%= host.text_field :pros , :class=>"u-full-width"%>
  </div>
    <div class="five columns">
  <label> Cons: </label>
  <%= host.text_field :cons, :class=>"u-full-width" %>
  </div>
  <div class="five columns">
  <label> Logo </label>
  <%= host.text_field :logo, :class=>"u-full-width" %>
  </div>
    <div class="five columns">
  <label> URL: </label>
  <%= host.text_field :url, :class=>"u-full-width" %>
  </div>
    <div class="five columns">
<%= submit_tag("Add",:class=>"button-primary") %>
<% end %>
  </div>
  </div>
 </div>