<%= link_to "Back", "/" %>
<h1> editing <%= @host.name%> </h1>

<%= form_for(@host,url: update_host_path(@host)) do |host| %>
  <p> Name: </p>
  <%= host.text_field :name %>
  <p> Rating: </p>
  <%= host.number_field :rating ,step: :any%>
  <p> Pros:</p>
  <%= host.text_field :pros %>
  <p> Cons: </p>
  <%= host.text_field :cons %>
  <p> Logo </p>
  <%= host.text_field :logo %>
  <p> URL: </p>
  <%= host.text_field :url %>

  <%= host.submit%>
<% end %>