
<div class="container" >
 <h1 class="center intro"> Web Hosting Review </h1>
 <div class="center">
<%= link_to "Login", root_path , :class=>"center" %> -
<%= link_to "Add Host", hosts_new_path,:class=>"center" %>
<hr>
</div>
  <div class="row">
    <%= @hosts.each do |host| %>
      <div class="six column host_box">
      <%=  image_tag(host.logo) %>
      <h3 class="title"> <%= host.name %> </h3>
      <p class="rating"> <strong>Rating:</strong> <%= host.rating %>/10 </p>
      <%= link_to "Edit", edit_host_path(host.id)%> -
      <%= link_to "Plans", plans_path(host.id)%> -
      <%= link_to "Delete", delete_host_path(host.id), method: :delete %>
      </div>
    <% end %>
  </div>
</div>