<div class="center">
 <%=  image_tag(@host.logo) %><br>
<%= link_to "Back" , :back %>
</div>

<div class="container">

<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Supports</th>
      <th>Price</th>
      <th>No. of Websites</th>
      <th>No. of parked Domains</th>
      <th>No. of Sub Domains</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= @plans.each do |plan| %>
<tr>
<td> <%= plan.name%></td>
<td> <%= plan.language%></td>
<td> <%= plan.price %></td>
<td> <%= plan.websites %></td>
<td> <%= plan.parked %> </td>
<td> <%= plan.sub %> </td>
<td> <%= link_to "X", "/"%></td>
<td> <%= link_to "Edit","/" %></td>
</tr>
<% end %>
</tbody>
</table>
<%= link_to "Add Plan", new_plan_path(@host.id) %>
</div>