<%= link_to "Back" , :back %>
<h2> <%= @host.name %> Available Plans</h2>
<p><%= @host.name %> has a rating of <%= @host.rating %> </p>

<%= @plans.each do |plan| %>
<h3> <%= plan.name%></h3>
<p> supporsts: <%= plan.language%></p>
<p> price: <%= plan.price %></p>
<p> No. of Websites: <%= plan.websites %></p>
<p> No. of Parked-Domains: <%= plan.parked %> </p>
<p> No. of Sub-Domains: <%= plan.sub %> </p>
<% end %>